<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credentials</title>
    <script>
        var $form = $('#myForm')
        var $tableField = $('#table')
        var $startDateField = $('#startDate')
        var $endDateField = $('#endDate')
        var $codeField = $('#code')

        $form.submit(function(event) {
            $tableField.prop("disabled", true);
            $codeField.prop("disabled", true);
            $startDateField.prop("disabled", true);
            $endDateField.prop("disabled", true);

            $form.attr('action', $form.attr('action') + $tableField.val() + $codeField.val()
                + $startDateField.val() + $endDateField.val());


            return;
        })
    </script>
</head>
<body>
<form id="myForm" method="get" th:action="@{'/{table}/{code}/{startDate}/{endDate}'}">
    <input type="text" id="table" name="table">
    <input type="text" id="code" name="code">
    <input type="date" id="startDate" name="startDate">
    <input type="date" id="endDate" name="endDate">
    <input type="submit">
</form>
</body>
</html>