<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            background-color: cornflowerblue;
        }
        #comm {
            font-family: "Arial Black", serif;
            font-size: 30px;
        }
        #link {
            font-size: 18px;
        }
    </style>
</head>
<body>
<h1 id="comm">Wrong number of letters ;)</h1>
<a id="link" href="https://en.wikipedia.org/wiki/ISO_4217">Check for some information here :)</a>
</body>
</html>